/* Styling the body including a background image  */
body {
    position: relative;
    background: url("hockey-wallpaper2.jpg") no-repeat center/cover fixed;
    font-family: 'Montserrat', sans-serif;
}

/* More body styling: semi-transparent overlay not covering up other content, fixed relative to viewport,
fills entire screen, added opacity, overlay stays behind other content */
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

/* Adding some opacity to the form */
.form-opacity {
    opacity: 0.8;
}

/* Adding some opacity to the table */
.table-opacity {
    opacity: 0.8;
}

/* Styling the border with a specific color */
#schedule.table-bordered * {
  border-color: #dc3545 !important;
}

/* Styling the button with a specific background color and opacity */
.button-customBlue {
    background-color: blue;
    opacity: 0.8;
}

/* Adding opacity to two images */
.hockey-img {
    opacity: 0.6;
}

.pumpkins-img {
    opacity: 0.6;
}

/* Styling a header under an image */
.custom-header {
    display:inline-block;
    font-family:cursive;
    color: cornsilk;
    font-style: italic;
    background-color: blue;
    opacity: 0.7;
}

